.DS_Store
__pycache__
*.egg-info
/models
.gradio/certificate.pem
/BatchGenerate/clone_src_wav/*
/BatchGenerate/texts/*
outputs
.qoder
.github
.trae
.gradio
indextts/s2mel/modules/bigvgan/alias_free_activation/cuda/build/
