conformer
diffusers
gdown
gradio
hydra-core
HyperPyYAML
inflect
librosa
lightning
matplotlib
modelscope
omegaconf
onnx
onnxruntime
openai-whisper
cosyvoice
pyarrow
pyworld
soundfile
torch
torchaudio
transformers
accelerate
wget
pyside6
WeTextProcessing==1.0.3
wetext
einops
addict
datasets>=3,<4
pydantic
tqdm
simplejson
sortedcontainers
funasr
https://github.com/KittenML/KittenTTS/releases/download/0.1/kittentts-0.1.0-py3-none-any.whl