# torch
# torchaudio
conformer
diffusers
gdown
gradio
hydra-core
HyperPyYAML
inflect
librosa
lightning
matplotlib
modelscope
omegaconf
onnx
onnxruntime
openai-whisper
pyarrow
pyworld
soundfile
transformers
wget
peft
pyside6
WeTextProcessing==1.0.3
wetext
einops
addict
datasets>=3,<4
pydantic
tqdm
simplejson
sortedcontainers
funasr