torch
torchaudio
transformers
matplotlib
onnx
onnxruntime
modelscope
inflect
librosa
lightning
HyperPyYAML
diffusers
conformer
soundfile
gradio
openai-whisper
omegaconf
hydra-core
gdown
wget
pyarrow
pyworld
WeTextProcessing==1.0.3