conformer
diffusers
gdown
gradio
hydra-core
HyperPyYAML
inflect
librosa
lightning
matplotlib
modelscope
omegaconf
onnx
onnxruntime
openai-whisper
pyarrow
pyworld
soundfile
torch
torchaudio
transformers
wget
peft
WeTextProcessing==1.0.3